* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 95vh;
}

button {
  width: 80px;
  height: 80px;
  padding: 0;
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 20px;
}

#display {
  width: 380px;
  height: 80px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divide {
  display: flex;
  justify-content: space-between;
  width: 380px;
  height: 80px;
  gap: 20px;
}

.middle-rows {
  display: flex;
  gap: 20px;
}

.equals {
  width: 380px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.formatting {
  pointer-events: none;
  background-color: white;
  border: none;
}